# URL del backend NestJS
NEXT_PUBLIC_API_URL=http://localhost:4000

# URL del WebSocket (puede ser igual al backend)
NEXT_PUBLIC_WS_URL=http://localhost:4000

# Nombre de la empresa (se muestra en la UI)
NEXT_PUBLIC_APP_NAME=CRM ISP DATAFAST

# Versión
NEXT_PUBLIC_VERSION=1.0.0
